html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: palevioletred;
  overflow: hidden;
  font-family: "Medodica";
}

.input[type="radio"] {
  accent-color: palevioletred;
}

.centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: palevioletred;
}

.game-box {
  text-align: center;
  background: pink;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 4px pink;
  max-width: 400px;
  width: 90%;
}

.question {
  margin-bottom: 20px;
}

.thoughts {
  margin-bottom: 20px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

@font-face {
  font-family: "Medodica";
  font-style: normal;
  font-weight: 400;
  src: url("./medodica/MedodicaRegular.otf");
}

.button {
  background-color: pink;
  border: 1px solid palevioletred;
  border-radius: 3px;
  font-family: "Medodica";
  color: palevioletred;
}

input[type="radio"] {
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 1px;
  /* background-color only for content */
  background-clip: content-box;
  border: 1px solid palevioletred;
  background-color: pink;
  border-radius: 50%;
}

/* appearance for checked radiobutton */
input[type="radio"]:checked {
  background-color: palevioletred;
}
